:host {
    --ld-light-color-container-background: var(--color-light-champagnePink);
    --ld-dark-color-container-background: var(--color-dark-resedaGreen);
    --transition-color-background: 1s background-color ease-in-out;
    --transition-color-foreground: 1s color ease-in-out;

    display: grid;
    grid-template-rows: max-content 1fr max-content;
    min-height: 100svh;
    transition: var(--transition-color-background);
}

.content {
    display: grid;
    align-items: center;
    justify-items: center;
}

@media (prefers-color-scheme: light) {
    :host {
        --color-background-main: var(--color-universal-whiteSmoke, whitesmoke);
        --color-background-secondary: var(--color-universal-white, white);
        --color-foreground-main: var(--color-universal-onyx, #353935);
        --color-foreground-secondary: var(--color-universal-jet, #272a2a);

        background-color: var(--ld-light-color-container-background);
    }
}

@media (prefers-color-scheme: dark) {
    :host {
        --color-background-main: var(--color-universal-jet, #272a2a);
        --color-background-secondary: var(--color-universal-onyx, #353935);
        --color-foreground-main: var(--color-universal-whiteSmoke, whitesmoke);
        --color-foreground-secondary: var(--color-universal-white, white);

        background-color: var(--ld-dark-color-container-background);
    }
}
